h1{
    text-align: center;
}
button{
    background: blue;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-left: 40px;
}
#displayBox{
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}
img{
    margin: 20px;
    height: 60px;
    width: 80px;
}